.mydiv { display:none;margin-left:20px;}
.mydiv2 { display:none;margin-left:20px;}
.mydiv3 { display:none;margin-left:20px;}
.mydiv4 { display:none;margin-left:20px;}
.mydiv5 { display:none;margin-left:20px;}
.mydiv6 { display:none;margin-left:20px;}
.mydiv7 { display:none;margin-left:20px;}
.mydiv8 { display:none;margin-left:20px;}
.mydiv9{ display:none;margin-left:20px;}