<?xml version="1.0" encoding="utf-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>NNSL</ShortName>
  <Description></Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Image type="image/vnd.microsoft.icon" width="16" height="16">http://www.nutrition.gov.lk/templates/ot_spasalon/favicon.ico</Image>
  <Url type="application/opensearchdescription+xml" rel="self" template="http://www.nutrition.gov.lk/index.php/component/search/?Itemid=548&amp;id=67&amp;format=opensearch"/>
  <Url type="text/html" template="http://www.nutrition.gov.lk/index.php?option=com_search&amp;searchword={searchTerms}"/>
</OpenSearchDescription>
